In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

## Resources

In [2]:
# Today price: https://selectra.es/energia/info/que-es/precio-kwh
# Tomorrow price: https://selectra.es/energia/info/que-es/precio-kwh#precio-luz-manana
# MoM evolution: https://selectra.es/energia/info/que-es/precio-kwh#precio-luz-hoy

# Overall metrics: https://tarifaluzhora.es/
# Electro devices per year: https://tarifaluzhora.es/info/consumo-mensual-luz#como-reparte-consumo

# Consumption per device per year: https://comparadorluz.com/faq/consumo-medio-casa#consumo-luz-electrodomesticos
# Consumption per device: https://comparadorluz.com/faq/consumo-medio-casa#consumo-luz-electrodomesticos

## Scraping today's prices

In [3]:
url = 'https://tarifaluzhora.es/'

headers= {'Accept-Encoding':'gzip, deflate',
          'Accept-Language':'en-US,en;q=0.9',
          'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}

response = requests.get(url, headers = headers)
response.status_code

soup = BeautifulSoup(response.content)
#print(soup.prettify())

average_today_price = soup.find('div',attrs={'class':'inner_block gauge_day'})
average_today_price = average_today_price.span.string[:6]

cheapest_today_time = soup.find('div',attrs={'class':'inner_block gauge_low'})
cheapest_today_time = cheapest_today_time.span.string.replace('h','')

expensive_today_time = soup.find('div',attrs={'class':'inner_block gauge_hight'})
expensive_today_time = expensive_today_time.span.string.replace('h','')

lowest_today_price = soup.find('span',attrs={'class':'sub_text green'})
lowest_today_price= lowest_today_price.get_text().replace('\t','').replace('\n','')[:7]

highest_today_price = soup.find('span',attrs={'class':'sub_text red'})
highest_today_price= highest_today_price.get_text().replace('\t','').replace('\n','')[:7]

print(f'Average price of today is: {average_today_price}€ per kwh')
print(f'Lowest price of today is: {lowest_today_price}€ per kwh')
print(f'Highest price of today is: {highest_today_price}€ per kwh')
print(f'Cheapest time of today was between {cheapest_today_time} hs')
print(f'Expensive time of today was between {expensive_today_time} hs')

hour_range = soup.find_all('span',attrs={'itemprop':'description'})
hour_price = soup.find_all('span',attrs={'itemprop':'price'})

hours = []

for i in hour_range:
    hours.append(i.string.replace(':','').replace('h',''))
    
prices = []

for i in hour_price:
    prices.append(i.string.replace('€/kW','').replace('h','').strip())

Average price of today is: 0.2335€ per kwh
Lowest price of today is: 0.14016€ per kwh
Highest price of today is: 0.28201€ per kwh
Cheapest time of today was between 17 - 18 hs
Expensive time of today was between 21 - 22 hs

## Get today prices from https://tarifaluzhora.es/

In [4]:

price_per_hour = pd.DataFrame()  
price_per_hour['Hours'] = hours
price_per_hour['Prices'] = prices
price_per_hour['Prices'] = price_per_hour['Prices'].astype(float)
price_per_hour['Avg Today'] = price_per_hour['Prices'].mean()
price_per_hour['Deviation'] = price_per_hour['Prices'].mean() - price_per_hour['Prices']

def price_flag(x):
    if x<0:
        return 'Expensive'
    elif x>0: 
        return 'Cheaper'
    else:
        return 'Regular'

price_per_hour['Price Flag'] = price_per_hour['Deviation'].apply(price_flag)

def light_consumption(x):
    return x*0.117

def kitchen_consumption(x):
    return x*0.093

def hot_water_consumption(x):
    return x*0.075

def heat_consumption(x):
    return x*0.074

def refrigeration_consumption(x):
    return x*0.023

def standby_consumption(x):
    return x*0.066

def home_appliances_consumption(x):
    return x*0.552

price_per_hour['Home Appliances'] = price_per_hour['Prices'].apply(home_appliances_consumption)
price_per_hour['Light'] = price_per_hour['Prices'].apply(light_consumption)
price_per_hour['Kitchen'] = price_per_hour['Prices'].apply(kitchen_consumption)
price_per_hour['Hot water'] = price_per_hour['Prices'].apply(hot_water_consumption)
price_per_hour['Heat'] = price_per_hour['Prices'].apply(heat_consumption)
price_per_hour['Refrigeration'] = price_per_hour['Prices'].apply(refrigeration_consumption)
price_per_hour['Stand By'] = price_per_hour['Prices'].apply(standby_consumption)

price_per_hour

,Hours,Prices,Avg Today,Deviation,Price Flag,Home Appliances,Light,Kitchen,Hot water,Heat,Refrigeration,Stand By
0,00 - 01,0.25791,0.233525,-0.024385,Expensive,0.142366,0.030175,0.023986,0.019343,0.019085,0.005932,0.017022
1,01 - 02,0.25588,0.233525,-0.022355,Expensive,0.141246,0.029938,0.023797,0.019191,0.018935,0.005885,0.016888
2,02 - 03,0.25739,0.233525,-0.023865,Expensive,0.142079,0.030115,0.023937,0.019304,0.019047,0.005920,0.016988
3,03 - 04,0.25658,0.233525,-0.023055,Expensive,0.141632,0.030020,0.023862,0.019243,0.018987,0.005901,0.016934
4,04 - 05,0.26422,0.233525,-0.030695,Expensive,0.145849,0.030914,0.024572,0.019817,0.019552,0.006077,0.017439
5,05 - 06,0.26951,0.233525,-0.035985,Expensive,0.148770,0.031533,0.025064,0.020213,0.019944,0.006199,0.017788
6,06 - 07,0.26156,0.233525,-0.028035,Expensive,0.144381,0.030603,0.024325,0.019617,0.019355,0.006016,0.017263
7,07 - 08,0.26205,0.233525,-0.028525,Expensive,0.144652,0.030660,0.024371,0.019654,0.019392,0.006027,0.017295
8,08 - 09,0.24970,0.233525,-0.016175,Expensive,0.137834,0.029215,0.023222,0.018728,0.018478,0.005743,0.016480
9,09 - 10,0.23995,0.233525,-0.006425,Expensive,0.132452,0.028074,0.022315,0.017996,0.017756,0.005519,0.015837
10,10 - 11,0.23036,0.233525,0.003165,Cheaper,0.127159,0.026952,0.021423,0.017277,0.017047,0.005298,0.015204
11,11 - 12,0.22046,0.233525,0.013065,Cheaper,0.121694,0.025794,0.020503,0.016534,0.016314,0.005071,0.014550
12,12 - 13,0.21734,0.233525,0.016185,Cheaper,0.119972,0.025429,0.020213,0.016300,0.016083,0.004999,0.014344
13,13 - 14,0.19758,0.233525,0.035945,Cheaper,0.109064,0.023117,0.018375,0.014819,0.014621,0.004544,0.013040
14,14 - 15,0.18582,0.233525,0.047705,Cheaper,0.102573,0.021741,0.017281,0.013937,0.013751,0.004274,0.012264
15,15 - 16,0.18010,0.233525,0.053425,Cheaper,0.099415,0.021072,0.016749,0.013508,0.013327,0.004142,0.011887
16,16 - 17,0.16654,0.233525,0.066985,Cheaper,0.091930,0.019485,0.015488,0.012490,0.012324,0.003830,0.010992
17,17 - 18,0.14016,0.233525,0.093365,Cheaper,0.077368,0.016399,0.013035,0.010512,0.010372,0.003224,0.009251
18,18 - 19,0.18180,0.233525,0.051725,Cheaper,0.100354,0.021271,0.016907,0.013635,0.013453,0.004181,0.011999
19,19 - 20,0.21824,0.233525,0.015285,Cheaper,0.120468,0.025534,0.020296,0.016368,0.016150,0.005020,0.014404
20,20 - 21,0.26673,0.233525,-0.033205,Expensive,0.147235,0.031207,0.024806,0.020005,0.019738,0.006135,0.017604
21,21 - 22,0.28201,0.233525,-0.048485,Expensive,0.155670,0.032995,0.026227,0.021151,0.020869,0.006486,0.018613
22,22 - 23,0.27771,0.233525,-0.044185,Expensive,0.153296,0.032492,0.025827,0.020828,0.020551,0.006387,0.018329
23,23 - 24,0.26499,0.233525,-0.031465,Expensive,0.146274,0.031004,0.024644,0.019874,0.019609,0.006095,0.017489

## Scraping tomorrow's prices

In [5]:
import datetime
now = datetime.datetime.now().strftime("%I:%M %p")
prices_tomorrow_time = '8:15 PM'

def scrape_tomorrow():
    #Backup comment as a reminder
    print (f'Its {now} right now. Tomorrow prices for Spain can only be checked after 8:15 PM GMT+2. Come back later if you get zero values.')

    url = 'https://tarifaluzhora.es/info/precio-kwh-manana'

    headers= {'Accept-Encoding':'gzip, deflate',
              'Accept-Language':'en-US,en;q=0.9',
              'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}

    response = requests.get(url, headers = headers)
    response.status_code
    soup = BeautifulSoup(response.content)


    tomorrow_prices_df = pd.read_html(url)[0]
    tomorrow_prices_df['Hora'] = tomorrow_prices_df['Hora'].str.replace("h","")
    tomorrow_prices_df['Península,  Baleares y Canarias'] = tomorrow_prices_df['Península,  Baleares y Canarias'].str.replace('€/kWh','')
    tomorrow_prices_df['Ceuta y Melilla'] = tomorrow_prices_df['Ceuta y Melilla'].str.replace("€/kWh","")
    tomorrow_prices_df[['Península,  Baleares y Canarias','Ceuta y Melilla']] = tomorrow_prices_df[['Península,  Baleares y Canarias','Ceuta y Melilla']].astype(float)
    tomorrow_prices_df = tomorrow_prices_df.rename(columns={'Hora':'Hour','Península,  Baleares y Canarias': 'Península, Baleares y Canarias (in €/kWh)', 'Ceuta y Melilla': 'Ceuta y Melilla (in €/kWh)'})
    tomorrow_prices_df['Avg Today - Tier 1'] = tomorrow_prices_df['Península, Baleares y Canarias (in €/kWh)'].mean()
    tomorrow_prices_df['Deviation - Tier 1'] = tomorrow_prices_df['Península, Baleares y Canarias (in €/kWh)'].mean() - tomorrow_prices_df['Península, Baleares y Canarias (in €/kWh)']
    tomorrow_prices_df['Avg Today - Tier 2'] = tomorrow_prices_df['Ceuta y Melilla (in €/kWh)'].mean()
    tomorrow_prices_df['Deviation - Tier 2'] = tomorrow_prices_df['Ceuta y Melilla (in €/kWh)'].mean() - tomorrow_prices_df['Ceuta y Melilla (in €/kWh)'].mean()
    tomorrow_prices_df['Price Flag - Tier 1'] = tomorrow_prices_df['Deviation - Tier 1'].apply(price_flag)
    tomorrow_prices_df['Price Flag - Tier 2'] = tomorrow_prices_df['Deviation - Tier 2'].apply(price_flag)

    #display(tomorrow_prices_df.describe())
    return tomorrow_prices_df

scrape_tomorrow()

Its 01:18 PM right now. Tomorrow prices for Spain can only be checked after 8:15 PM GMT+2. Come back later if you get zero values.

,Hour,"Península, Baleares y Canarias (in €/kWh)",Ceuta y Melilla (in €/kWh),Avg Today - Tier 1,Deviation - Tier 1,Avg Today - Tier 2,Deviation - Tier 2,Price Flag - Tier 1,Price Flag - Tier 2
0,00,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
1,01,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
2,02,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
3,03,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
4,04,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
5,05,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
6,06,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
7,07,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
8,08,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
9,09,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
10,10,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
11,11,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
12,12,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
13,13,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
14,14,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
15,15,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
16,16,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
17,17,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
18,18,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
19,19,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
20,20,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
21,21,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
22,22,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular
23,23,0.0,0.0,0.0,0.0,0.0,0.0,Regular,Regular

In [6]:
# Getting tomorrow prices after 20:15 GMT from https://tarifaluzhora.es/info/precio-kwh-manana
# The function is not working

if now >prices_tomorrow_time:
    scrape_tomorrow() 
else :
    print (f'Its {now} right now. Tomorrow prices for Spain can only be checked after 8:15 PM GMT+2. Come back later.')

Its 01:18 PM right now. Tomorrow prices for Spain can only be checked after 8:15 PM GMT+2. Come back later.

## Telegram bot calculations

In [7]:
# Check multipliers by appliances an person per house https://comparadorluz.com/faq/consumo-medio-casa#consumo-luz-electrodomesticos

# We should update these variables based on user choice

#devices_list = [washing_machine, oven, house_size, heater]
#washing_machine = input()
#oven = input()
#house_size = input()
#heater = input()


def light_consumption(x):
    return x*0.117

def kitchen_consumption(x):
    return x*0.093

def hot_water_consumption(x):
    return x*0.075

def heat_consumption(x):
    return x*0.074

def refrigeration_consumption(x):
    return x*0.023

def standby_consumption(x):
    return x*0.066

def home_appliances_consumption(x):
    return x*0.552